.navbarStyling{
    background-color: currentColor;
}

.logoStyling{
    background-color: darkgreen;
    border-radius: 9px;
    padding: 9px;
    color: white;
}

.nav-link{
    color: white;
    margin: 0 0.5em;

    &.active{
        color: azure;
        background-color: darkgreen;
        border-radius: 5px;
    }
    &:hover{
        box-shadow: 0px 0px 5px white;
        color: black;
        background-color: beige;
        border-radius: 5px;
    }
}