.aboutContainer{
    background-color: darkslategray;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.aboutDetails{
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: bisque;
}

.html {
    background-color: darkslategray;
}